
<%-include('partials/navbar.ejs')%>


<div class="px-4 py-5 my-5 text-center overflow-auto" id="container" >
    <img class="d-block mx-auto mb-4 pic" src="images\kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" alt="A neatly organized desk with a nice window view" width="600" height="350">
    <h1 class="display-5 fw-bold text-body-emphasis">Remote Job Simplified</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">The most recent remote job listings in your region. Finding your dream job has never been easier.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/JobSearch"><button type="button" class="btn btn-primary btn-lg px-4 gap-3" >Search Jobs </button></a>
        
      </div>
    </div>


    
</div>


<%-include('partials/footer.ejs')%>